.app_div{
  width: 50%;
  /* background-color: #39553F; */
  background-color: #C2D6A9;
  float:left;
  height: 600px;
}

.form_div{
  width: 50%;
  background-color: #39553F;
  float:left;
  height: 600px;
}

/* .sign_in {
  border: 0px;
  background: #EFE9AE;
  color: #706C61;
  font-family: 'Arial';
  padding: 10px 20px;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
} */

.sign_in {
  background-color: #C2D6A9;
  color: #39553F;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
} 

.sign_up {
  background-color: #C2D6A9;
  color: #39553F ;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.button_active{
  background-color: #424B54;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.nav_items {
  margin-top: 50px;
  margin-right: 70px;
  float: right;
}